.creator__image {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  cursor: pointer;
}

.creator__name {
  position: relative;
  width: 40rem;
  bottom: 45px;
  left: 80px;
}

@media (max-width: 768px) {
  .creator__name {
    position: relative;
    width: 15rem;
    bottom: 57px;
    left: 80px;
  }
}

@media (max-width: 350px) {
  .creator__name {
    position: relative;
    width: 8rem;
    bottom: 62px;
    left: 80px;
    font-size: 13px;
  }
}
