.like__item {
  margin-bottom: 20px;
}

.like__icon {
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

.like__color {
  color: rgb(248, 25, 25);
}

.like__icon:hover {
  transform: scale(1.2);
}

.like__modal__content {
  margin: 10px;
  font-size: 22px;
}

.like__modal__actions {
  margin: 5px;
}
